* {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
}
.header__logo {
  display: block;
  margin: auto;
  width: 180px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  box-shadow: inset 0px 10px 8px -10px #4f4f4f;
}
.location__icon {
  padding-right: 10px;
}
.location__paragraph {
  font-weight: bolder;
  font-size: 1.2em;
}

.book {
  background-color: #f4f4f4;
  padding: 10px 30px 50px 30px;
  text-align: center;
}
.book__heading {
  font-size: 1.5em;
}

.function {
  padding: 20px 25px 50px 25px;
}
.function__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.function__heading {
  font-size: 1.2em;
}
.function__div {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 20px;
  padding: 5px 0;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px #b5b5b5;
  transition: 400ms;
}
.function__div:hover {
  background-color: #e4d5f6;
}
.function__number {
  background-color: #9356dc;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  margin-left: -13px;
  margin-right: 15px;
}
.function__icon {
  margin-right: 15px;
  font-size: 1.4em;
  color: #9b9b9b;
}
.function__paragraph {
  font-weight: bolder;
  font-size: 0.9em;
}

.main {
  background-color: #f4f4f4;
  padding: 20px;
}
.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main__heading {
  padding: 0;
  font-size: 1.2em;
  margin-left: 2%;
}

.card {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin: 10px 2%;
  transition: 400ms;
}
.card:hover {
  transform: scale(1.05);
}
.card__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.card__new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  padding: 5px;
  border-radius: 5px;
  font-weight: bolder;
  color: #32b091;
}
.card__contents {
  padding: 0 20px 0 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__text {
  display: flex;
  flex-direction: column;
}
.card__heading {
  font-size: 1em;
  margin: 0 0 10px 0;
}
.card__paragraph {
  font-size: 0.9em;
  margin: 0;
}
.card__icon {
  font-size: 25px;
  color: #353535;
  position: relative;
}
.card__icon-hidden {
  background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
  background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  cursor: pointer;
  left: 0;
  transition: 400ms;
  opacity: 0;
}
.card__icon-hidden:hover {
  opacity: 1;
}

@media screen and (min-width: 770px) {
  .card {
    width: 42%;
  }

  .main__heading {
    margin-left: 5%;
  }

  .function {
    width: 90%;
    margin: auto;
  }

  .function__container {
    flex-direction: row;
  }

  .function__div {
    width: 30%;
  }
}
.main-page {
  width: 100%;
  padding: 0;
}
.main-page__img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  margin-bottom: -50px;
}

.option {
  position: relative;
  background-color: #f4f4f4;
  border-radius: 50px 50px 0 0;
  padding: 5%;
}
.option__heading-h1 {
  margin: 0;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1.6em;
}
.option__heading-h3 {
  font-size: 0.9em;
  font-weight: 400;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 5px;
  width: 40px;
}
.option__enter {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px 10px 10px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 15px;
}
.option__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.option__heading-h4 {
  margin: 0;
  font-size: 0.9em;
}
.option__paragraph {
  margin: 0;
  font-size: 0.8em;
}
.option__price {
  font-weight: bolder;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #fff;
  padding: 0 20px 20px 5%;
}
.footer__link {
  color: #fff;
  padding-bottom: 10px;
}
.footer__link:hover {
  color: #9356dc;
}
.footer__icon {
  padding-right: 10px;
}

.button {
  display: block;
  width: fit-content;
  padding: 15px 50px;
  text-align: center;
  margin: 30px auto 0 auto;
  letter-spacing: 0.5px;
  color: #fff;
  border-radius: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 3px 8px #828282;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 3px 8px #4f4f4f;
  background: linear-gradient(#ff93e1, #a16be0);
}

/*# sourceMappingURL=style.css.map */
