$white:#fff;
$cl-primary:#15eda5;
$black:#000;
$cl-grey:#444;




.btn{
    font-size: 3em;
    background-color: $cl-primary;
    color: $white;
    width: fit-content;
    padding: 20px 40px;
    margin: 100px auto;
    border-radius: 30px;
    &__1{
        transition: all 1000ms;
        &:hover{
            transform: scale(1.2);
            background-color: $cl-grey;
        }
        &:hover + .btn__2{
            opacity: 1;
            transform: translate(300px ,-195px) rotate(-360deg);
            background-color: $cl-primary;
        }
    }
    &__2{
        background-color: $cl-grey;
        opacity: 0;
        transition: all 400ms ;
    }
}