/* GENERAL */

*
{
    margin: 0;
    padding: 0;
}

$color-one:#ea5083;
$color-two:#fff;
$color-three:#ffa7c4;
$color-four:#444;
$color-five: rgba(221, 160, 221, 0.815);

@mixin overlay ($color:rgba(250, 250, 250, 0.76)){
    background-color: $color;
    height: 270px;
    width: 45%;
}
@mixin article-photo {
    height: 270px;
    width: 550px;
    border-radius: 20px;
    margin-bottom: 8%;
    box-shadow: 6px 6px 6px $color-four;
}

/* HEADER */

header
{
    background-color: $color-four;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    h1
    {
        color: $color-one;
        font-size: 5.5em;
        margin:auto 0 auto 7%;
        text-shadow: 6px 6px 6px $color-two;
        span
        {
            color: $color-two;
        }
    }
    ul
    {
        margin: auto 5% auto 0;
        display: flex;
        flex: 1;
        justify-content: end;
        li
        {
            color: $color-two;
            font-size: 2.5em;
            list-style: none;
            margin-left: 4%;
            a
            {
                color: $color-two;
                text-decoration: none;
                
            }
            a:hover
            {
                color: $color-one;
            }
        }
    }
}



/* MAIN IMAGE */

.main-image
{
    background: url(../pictures-miss-sushi/audrey.jpg) center;
    height: 800px;
}

.main-image__overlay
{
    background-color: $color-five;
    height: 800px;
    width: 40%;
    text-align: center;
    h2
    {
        color: $color-two;
        font-size: 3em;
        padding-top: 10%;
    }
    p
    {
    color: $color-two;
    font-size: 2.2em;
    margin: 10% 0;
    padding: 0 8%;
    line-height: 60px;
    }
    a
    {
    color: $color-two;
    text-decoration: none;
    font-size: 2.4em;
    background-color:$color-one;
    padding: 10px 25px;
    border-radius: 15px;
    }
    a:hover
    {
        background-color: $color-two;
        color: $color-one;
    }
}


/* ARTICLE */

h3
{
    font-size: 4.8em;
    color: $color-one;
    text-align: center;
    padding: 5% 0;
    text-shadow: 6px 6px 6px $color-four;
}
.photos
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 8%;
    
    h4
    {
        font-size: 2.5em;
        color: $color-four;
        text-align: center;
        padding-top: 10px;
    }
    .p-small
    { 
        text-align: center;
        font-size: 1.4em;
        padding: 15px;
        color: $color-four;
    }
    a
    {
        color: $color-two;
        text-decoration: none;
    }
}

.photo-1
{
    background: url(../pictures-miss-sushi/alicante-1.jpg);
    @include article-photo();
    .overlay-1
    {
        @include overlay();
        border-radius: 0 20px 20px 0;
        float: right;
    }
}

.photo-2
{
    background: url(../pictures-miss-sushi/alicante-2.jpg);
    @include article-photo();
    .overlay-2
    {
        @include overlay();
        border-radius: 20px 0 0 20px;
    }
}

.buton-2
{
    background-color: rgba(119, 119, 119, 0.5);
    color: #ddd;
    font-size: 1.5em;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}

.buton-2:hover
{
    background-color: $color-one;
}

/* FOOTER */

footer
{
    background-color: $color-three;
    min-height: 200px;
    display: flex;
}

h5
{
    font-size: 3em;
    color: $color-two;
    margin: auto 3%;
    span
    {
        color: $color-one;
    }
}
h5:hover
{
    color: $color-one;
}

#form
{
    margin: 1.5% auto;
    h6
    {
        font-size: 2.5em;
        color: $color-two;
        margin-bottom: 15px;
    }
    label
    {
        font-size: 1.4em;
    }
    input
    {
        padding: 5px;
        border: 2px solid $color-two;
        border-radius: 10px;
        margin-bottom: 15px;
    }
    .buton-1
    {
        background-color:$color-one;
        color: $color-two;
        padding: 10px;
        margin-left: 10px;
        border-radius: 10px;
        border: none;
        font-weight: bold;
    }
    .buton-1:hover
    {
        color: $color-one;
        background-color: $color-two;
    }
}

/* ICON */

.icon
{
    position: fixed;
    bottom: 26px;
    right: 40px;
    opacity: 0.7;
}

@media screen and (max-width: 1080px)
{
    ul
    {
        flex-direction: column;
        text-align: end;
    } 
    li
    {
        font-size: 2.5em;
        margin:8px 0 ;
    }
    h2
    {
        font-size: 3.8em;
    } 
    .main-image p
    {
        font-size: 2.9em;
    }
    .main-image__overlay
    {
    background-color: rgba(255, 0, 179, 0.4);
    width: 100%;
    }
    .icon
    {
        display: none;
    }
}