.footer
{
    height: 260px;
    background-color: $color-primary;
    &__heading
    {
    color: $color-white;
    text-align: center;
    padding-top: 80px;
    @include phone {font-size: 4em;}
    }
    &__coopyright
    {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: $color-secondary;
    @include phone {font-size: 1.8em;}
    }   
}

