.article__heading
{
    font-size: 4.8em;
    color: $color-one;
    text-align: center;
    padding: 5% 0;
    text-shadow: 6px 6px 6px $color-four;
}
.photos
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 8%;   
}

.photo-1
{
    background: url(../pictures-miss-sushi/alicante-1.jpg);
    @include article-photo();

    &__overlay
    {
        @include overlay();
        border-radius: 0 20px 20px 0;
        float: right;
    }
    &__heading
    {
        font-size: 2.5em;
        color: $color-four;
        text-align: center;
        padding-top: 10px;
    }
    &__paragraph
    { 
        text-align: center;
        font-size: 1.4em;
        padding: 15px;
        color: $color-four;
    }
    &__link
    {
    background-color: rgba(119, 119, 119, 0.5);
    color: #ddd;
    font-size: 1.5em;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    &:hover
    {
    background-color: $color-one;
    }
    }

    a
    {
        color: $color-two;
        text-decoration: none;
    }
}

.photo-2
{
    background: url(../pictures-miss-sushi/alicante-2.jpg);
    @include article-photo();
    
    &__overlay
    {
        @include overlay();
        border-radius: 20px 0 0 20px;
    }
    &__heading
    {
        font-size: 2.5em;
        color: $color-four;
        text-align: center;
        padding-top: 10px;
    }
    &__paragraph
    { 
        text-align: center;
        font-size: 1.4em;
        padding: 15px;
        color: $color-four;
    }
    &__link
    {
    background-color: rgba(119, 119, 119, 0.5);
    color: #ddd;
    font-size: 1.5em;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    &:hover
    {
    background-color: $color-one;
    }
    }

    a
    {
        color: $color-two;
        text-decoration: none;
    }
}



