// LOCATION

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cl-fourth;
    box-shadow: inset 0px 10px 8px -10px #6a6a6a;
    &__icon {
        padding-right: 10px;
    }
    &__paragraph {
        font-weight: bolder;
    }
}

// BOOK

.book {
    background-color: $cl-fifth;
    padding: 10px 30px 50px 30px;
    text-align: center;
    &__heading {
        font-size: 1.5em;
    }
    &__btn {
        padding: 15px;
        margin-top: 10px;
        letter-spacing: 0.5px;
        border: none;
        color: $cl-white;
        border-radius: 50px;
        background: linear-gradient(#ee74da, #9356dc);
        cursor: pointer;
    }
}

// FUNCTION

.function {
    padding: 20px 25px 50px 25px;
    
    &__container {
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__div {
        display: flex;
        align-items: center;
        background-color: $cl-fourth;
        border-radius: 20px;
        padding: 5px 0;
    }
    &__number {
        background-color: #9356dc;
        color: $cl-white;
        padding: 5px 10px;
        border-radius: 50%;
        margin-left: -13px;
        margin-right: 15px;
    }
    &__icon {
        margin-right: 15px;
    }
    &__paragraph {
        font-weight: bolder;
    }
}

// MAIN

.main {
    background-color: $cl-fourth;
    padding: 10px 5%;
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.card {
    max-width: 500px;
    width: 100%;
    background-color: $cl-white;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin-bottom:30px;
    text-decoration: none;
    &__img {
        width: 100%;
        height: 150px; 
        object-fit: cover;
    }
    &__new {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $cl-tertiary;
        padding: 5px;
        border-radius: 5px;
        font-weight: bolder;
        color: #47b198;
    }
    &__contents {
        padding: 0 20px 0 10px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__icon {
        font-size: 25px;
        &:hover {
            color: $cl-secondary;
        }
    } 
}