.main-image
{
    background: url(../pictures-miss-sushi/audrey.jpg) center;
    height: 800px;

    &__overlay
    {
        background-color: $color-five;
        height: 800px;
        width: 40%;
        text-align: center;
        @include mobile {
            background-color: rgba(255, 0, 179, 0.4);
            width: 100%;
        }
    }
    &__heading
    {
        color: $color-two;
        font-size: 3em;
        padding-top: 10%;
        @include mobile {
            font-size: 3.8em;
        }
    }
    &__paragraph
    {
        color: $color-two;
        font-size: 2.2em;
        margin: 10% 0;
        padding: 0 8%;
        line-height: 60px;
        @include mobile {
            font-size: 2.9em;
        }
    }
    
    &__link
    {
        color: $color-two;
        text-decoration: none;
        font-size: 2.4em;
        background-color:$color-one;
        padding: 10px 25px;
        border-radius: 15px;
    &:hover
    {
        background-color: $color-two;
        color: $color-one;
    }
    }
}