/* MES SOUVENIRS */

.project-all__heading{
    margin: 40px 0 20px 0;
    letter-spacing: 4px;
    color: $color-one;
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase;
    &:before {
        content: "« ";
        color: $color-five;
    }
    &:after {
        content: " »";
        color: $color-five;
    }
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    width: 400px;
    margin: 30px;
    background: rgb(255, 255, 255);
    padding-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    &__picture{
        margin-bottom: 15px;
    }
    &__title{
        text-align: center;
        text-transform: uppercase;
    }
    &:hover{
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        transition: 0.4s;
    }
    & a{
        text-decoration: none;
    }
}