// MAIN

.main__img {
    width: 100%;
    padding: 0;
    height: 240px;
    object-fit: cover;
}
@media screen and (min-width:600px) {
    .main__img {
        height: 500px;
    }
}

// MENU

.menu {
    margin-top: -75px;
    position: relative;
    background-color: lighten($cl-fourth, 75);
    border-radius: 50px 50px 0 0;
    padding: 0 5% 30px;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__heading {
        font-family: 'Shrikhand', cursive;
        margin-top: 30px;
    }
    .heart {
        padding-top: 10px;
    }
}

// SUBMENU

.submenu {
    // font-size: 0.9em;
    font-weight: 400;
    border-bottom: 3px solid $cl-tertiary;
    padding-bottom: 5px;
    width: 40px;

    &__container {
        background-color: $cl-white;
        border-radius: 10px;
        padding: 10px 20px 10px 10px;
        height: 65px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 15px;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__heading {
        margin: 0;
        // font-size: 0.9em;
    }
    &__paragraph {
        margin: 0;
        // font-size: 0.8em;
    }
    &__price {
        font-weight: bolder;
    }
}