// MAIN

.main__img {
    width: 100%;
    padding: 0;
    height: 330px;
    object-fit: cover;   
}

@media screen and (min-width:600px) {
    .main__img {
        height: 500px;
    }
}

// MENU

.menu {
    margin-top: -75px;
    position: relative;
    background-color: lighten($cl-fourth, 75);
    border-radius: 50px 50px 0 0;
    padding: 0 5% 70px;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__heading {
        font-family: 'Shrikhand', cursive;
        font-size: 1.7em;
        margin-top: 50px;
    }
    .heart {
        padding-top: 30px;
        padding-right: 20px;
    }
}

// SUBMENU

.submenu {
    font-weight: 400;
    border-bottom: 3px solid $cl-tertiary;
    padding-bottom: 5px;
    width: 40px;

    &__container {
        background-color: $cl-white;
        border-radius: 10px;
        padding: 12px;
        height: 65px;
        display: flex;
        overflow: hidden;
        margin-bottom: 15px;
        position: relative;
        &:hover > .submenu__content {
            width: 62%;
        }
        &:hover > .submenu__price {
            transform: translateX(-65px);
        }
        &:hover > .animation {
            transform: translateX(-65px);
            & > .animation__icon {
                transform: rotate(0deg);
            }
        }
        .animation {
            background: $cl-tertiary;
            padding: 22px;
            position: absolute;
            right: -65px;
            bottom: 0;
            transition: 500ms;
        
            &__icon {
            color: $cl-tertiary;
            background-color: $cl-white;
            padding: 3px;
            border-radius: 50%;
            transition: transform 500ms;
            transform: rotate(-360deg);
            }
        }
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        transition: all 500ms;
    }
    &__heading {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;  
    }
    &__paragraph {
        margin: 0;
        font-size: 0.9em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__price {
        font-weight: bolder;
        padding-right:20px;
        transition: all 500ms;
        position: absolute;
        right: 0;
        bottom: 12px;
    }  
}