.nav {
    &__ul {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        border-bottom: 2px solid $cl-primary;
    }
    &__li {
        list-style: none;
        padding: 20px 50px;
        font-size: 1.8rem;
    }
    &__link {
        &:hover {
            font-weight: bolder; 
        }
    }
}