@mixin overlay ($color:rgba(250, 250, 250, 0.76)){
    background-color: $color;
    height: 270px;
    width: 45%;
}

@mixin article-photo {
    height: 270px;
    width: 550px;
    border-radius: 20px;
    margin-bottom: 8%;
    box-shadow: 6px 6px 6px $color-four;
}

@mixin mobile {
    @media screen and (max-width: 1079px){
        @content;
    }
}