@mixin border-raduis ($color:$color-primary,$border-width:2px){
    padding: 10px;
    border-radius: 15px;
    border: $border-width solid $color;
    box-shadow: 0px 0px 10px $color-primary;
}
@mixin font-style ($color:$color-primary){
    color: $color;
    font-size: 30px;
    font-style: italic;
    letter-spacing: 7px;
}